# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.pytest_cache/

# Data
data/
*.edf
*.mat

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Temp
tmp/
temp/